* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

section{
  width: 100%;
  margin: 20px;
  padding: 40px;
}
#sec{
  width: 100%;
  margin: 0;
  padding: 0;
}

section{
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  width: 48%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.meter {
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.meter.html {
  width: 80%;
  background-color: #f16529;
}

.meter.css {
  width: 50%;
  background-color: #264de4;
}

.meter.python {
  width: 65%;
  background-color: #306998;
}

.meter.sql {
  width: 30%;
  background-color: #f29111;
}